# project and compiler files
*.cbp
*.layout
*.depend
*.exe
*.o
*.suo
*.save-failed

# test images
*/test_pics/*
*.bmp
*.bard

# SDL files
/SDL-1.2.14/
SDL.dll

# output and log files
*_old.cpp
*output*
*.log
*.txt